.header-wrapper {
    position: relative;
    left: 265px;
    display: flex;
    height: 40px;
    background-color: #1f6689;
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &.collapsed {
        left: 0 !important;
    }

    transition: .2s;

    // all the children of the header-wrapper
    >* {
        // border: 1px green solid;
    }


    .arrow {
        position: relative;
        left: 0;
        width: 24px;
        border-right: 1px rgba(0, 0, 0, 0.137) solid;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #eb2124;
            cursor: pointer;
        }

        &.collapsed {
            transform: rotate(180deg);
        }
    }

    .h-title {
        font-size: 20px;
        font-weight: 300;
        padding: 0 25px;
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
        // flex: 5;
    }

    .h-action-box {
        position: sticky;
        right: 0;
        // border: 1px black solid;
        width: 300px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }


    .btn {
        min-height: 25px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .btn-icon {
            margin-right: 5px;
        }

        color: white;
        border: none;
        border-radius: 20px;

        // border: 1px black solid;
        &:hover {
            cursor: pointer;
        }

        &.setting {
            color: rgba(255, 255, 255, 0.479);

            &:hover {
                color: white;
            }
        }

    }

    .btn-wide {
        width: 120px;

    }

    .btn-regular {}

    .btn-red {
        background-color: #eb2124;

    }

    .clear {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    // #1f6689 - blue
    // #eb2124 - red
}