@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

@import 'normalize';

@import 'header';
@import 'sidebar';
@import 'dashboard-page';
@import 'btn';
@import 'btn';

.width-wrapper {
    position: relative;
    left: 265px !important;
    transition: .2s ease-in-out;
    width: calc(100% - 265px) !important;

    &.collapsed {
        width: 100% !important;
        left: 0 !important;
    }
}